//ion-refresher
.scroll-content{
  transform: translateY(0px) translateZ(0px)!important;
}
.refreshing {
  .scroll-content{
    transform: translateY(0px) translateZ(0px)!important;
  }
  ion-slides.offers{
    //margin-top: 0px;
  }
}
.ion-md-arrow-down:before{
  content: "\f27e";
}
ion-refresher{
  margin: 20px 0;
  z-index: 9999999999999;
  ion-spinner{
    background: #fff;
    border-radius: 50%;
    height: 30px;
    width: 30px;
  }
}

//ion-refresher end
